@model MySqlDapperAuth.Models.RegisterBindingModel
@{
    ViewBag.Title = "Log in";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8" ng-submit="submit()">
        <section id="loginForm">
            <form method="POST" class="form-horizontal" role="form" ng-submit="login()">
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng_model="email"  name="email" id="email"/>                        
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input type="password" class="form-control" ng_model="password" name="password" id="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <span>
                            <input id="submit" type="submit" value="Log in" class="btn btn-default" ng-disabled="isLoggedIn" />                            
                            <input id="submit" type="button" value="Logout" class="btn btn-default" ng-disabled="!isLoggedIn" ng-click="logout()"/>
                        </span>
                        <span class="text-danger">{{errorMessage}}</span>
                        <span class="text-primary">{{loginMessage}}</span>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register", "Home")
                </p>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
}